.wrapper {
  &.center {
    text-align: center;
    .line {
      margin-top: 26px;
      margin: 26px auto 0 auto;
    }
  }
  &.around {
    [data-dir="rtl"] &{
      text-align: right;
      .line {
        margin-top: 26px;
        margin-left: auto;
      }
    }

    [data-dir="ltr"]{
      text-align: left;
      .line {
        margin-top: 26px;
        margin-right: auto;
      }
    }
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.line {
  height: 2px;
  width: 56px;
  border-radius: 2px;
  background-color: #000;
}
