.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;

  li {
    margin: 0 20px;
    color: #1f1534;
    opacity: 0.5;
    font-weight: 400;
    font-size: 18px;

    font-style: normal;
    line-height: 23px;

    &.active {
      font-weight: 700;
      opacity: 1;
    }
  }
}
