.section {
  margin-top: 220px;
  position: relative;
}

.articleWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.button {
  margin: 0 auto;
  margin-top: 72px;
}

.background {
    position: absolute;
    top: 120px;
    left: -50px;
    z-index: -1;
}
