.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
}

.paginationWrapper{
    display: flex;
    flex-direction: row;
    margin: 0 83px;
    span{
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #5B9BF3;
        opacity: 0.3;
        margin: 0 9px;
        cursor: pointer;

        &.active{
            opacity: 1;
        }
    }
}

.icon{
    opacity: 0.3;
    &.active{
        opacity: 1;
        cursor: pointer;
    }
}