@font-face {
    font-family: "Muli";
    src: url("/fonts/muli/Muli-Regular.ttf"); /* IE9 Compat Modes */
    src: url("/fonts/muli/Muli-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  }