.descriptiton {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  text-align: center;
  color: #7d7987;
  mix-blend-mode: normal;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 33px;
}
