.contentWrapper {
  max-width: 365px;
}

.textWrapper {
  margin-top: 30px;

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
  }
}

.buttonIcon {
  margin-left: 14px;

  [data-dir="rtl"] & {
    margin-left: 0;
    margin-right: 14px;
    position: relative;
    top: 2px;
  }
}

.button {
  margin-top: 40px;
}
